


.title {
	text-transform:capitalize;
	font-size: 1.8rem;
	color: green;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;

}

.meaning {
	vertical-align: middle;
	font-size:  1.5rem;
	color: blue;
	text-align:  left; /* justify */
	font-family: Helvetica, Arial, sans-serif;
}




.card-bodi{
	background: ; /* Цвет фона */
    width: 456px; /* Ширина блока */
  	height: 330px; /* Ширина блока */
    padding: 30px; /* Поля */
    margin-top: 0px; /* Отступ сверху */
    border: 3px solid #000; /* Параметры рамки */
    box-sizing: border-box; /* Ширина блока с полями */
	/* height: 10em;*/
    display: flex;
    align-items: center;
    justify-content: center
}


.card-title{
	background: ; /* Цвет фона */
    width: 456px; /* Ширина блока */
	height: 120px; /* Ширина блока */
    padding: 30px; /* Поля */
    margin-top: 3px; /* Отступ сверху */
    border: 3px solid #000; /* Параметры рамки */
    box-sizing: border-box; /* Ширина блока с полями */
	/* height: 10em;*/
    display: flex;
    align-items: center;
    justify-content: center
}


div.container6 meaning {
  margin: 0 }



 .wrapper {
        width: 456px;
        height: 650px;
        border: 0px solid #515151;
      }
      .exmpl {
        overflow: hidden;

        justify-content: center;
        align-items: center;
      }
      .exmpl img {
        height: auto;
        width: 100%;
      }

.icon-link{
	font-size:  1.4rem;
	color: red;
	font-family: Helvetica, Arial, sans-serif;
}



.card-b {
	opacity:0; /*Элемент полностью прозрачный (невидимый)*/
	transition: 0.5s; /*Скорость перехода состояния элемента*/
	animation: show 1s 1; /* Указываем название анимации, её время и количество повторов*/
	animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */ /* Задержка перед началом */
}

.box_1 {
	margin: -30px -160px;
  height: 100px;
	display: flex;
  flex-direction: column;
	flex-wrap: wrap;

	 }
	 .box_1>* {
			 flex: 1 1 0px;
			 margin: 0px 50px;  /* по вертикали | по горизонтали */
	 }

@keyframes show{
0%{
opacity:0;
}
100% {
opacity:1;
}
}


#upload-container {
     display: flex;
		 text-align: center;
     justify-content: center;
     flex-direction: column;
     width: 400px;
     height: 400px;
     outline: 2px dashed #5d5d5d;
     outline-offset: -12px;
     background-color: #e1f2f9;
     font-family: Helvetica, Arial, sans-serif;
     color: #1f3c44;
}

#upload-container img {
     width: 40%;
     margin-bottom: 20px;
     user-select: none;
}

#upload-container div {
     position: relative;
     z-index: 10;
}

#upload-container label {
     font-weight: bold;
}

#upload-container label:hover {
     cursor: pointer;
     text-decoration: underline;
}

#upload-container input[type=file] {
     width: 0.1px;
     height: 0.1px;
     opacity: 0;
     position: absolute;
     z-index: -10;
}

.chat {
	border:1px solid #333;

	width:40%;
	height:70%;
	background:#111;
	color:gold;
	align-items: center;
	margin:auto;

}

.chat-messages {
	align-items: center;
	min-height:93%;
	max-height:93%;
	overflow:auto;
}

.chat-messages__content {

	padding:1px;
}

.chat__message {
	border-left:3px solid #999;
	margin-top:2px;
	padding:2px;
}

.chat__message_black {
	border-color:#999;
}

.chat__message_blue {
	border-color:blue;
}

.chat__message_green {
	border-color:green;
}

.chat__message_red {
	border-color:red;
}

.chat-input {
	min-height:200px;
}
input {
	min-height:50px;
	font-family:arial;
	font-size:20px;
	vertical-align: middle;
	background: #605599;
	border:0;
	display:inline-block;
	margin:1px;
	height:60px;
}

.chat-form__input {
  color: gold;
	padding-left: 30px;
	font-size:20px;
	width:79%;
}

.chat-form__submit {
	color:gold;
	font-size:20px;
	width:18%;
}
