body{
    background-image: url("background.jpg");
    box-sizing: border-box;
}

.flex-class{
    display: flex;
    padding: 10px;
}
.but-send{

    width: fit-content;
    padding: 10px;
    height: min-content;
    font-size: 30px;
    display: block;
    margin: 40px auto;

    background: rgba(38, 108, 238, 1);
    border: solid 1px white;
    color: white;
    border-radius: 5px;
    font-size: 80%;
}

.users-list{
    background: rgba(38, 108, 238, 0.7);
    color: azure;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
    margin: 5% 10px;
    height: min-content;
    width: 20vw;
    overflow-y: auto;
    border: solid 2px rgb(6, 46, 179);
    border-radius: 5px;
    box-sizing: border-box;
}

.chat-info{
    text-align: center;
    font-size: 150%;
    height: 50px;
    height: fit-content;
    white-space: break-spaces;
    word-break: break-word;
}

.flex-chat{
    display: flex;
    justify-content: center;
    margin-top: 0vh;
}

.chat-topic{
    font-size: 32px;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 10px;
    width: max-content;
    color: white;
}

.chat-mes-box{
    overflow: hidden;
    width: 78vw;
    margin: 0 1vw;
}

.chat {
    z-index: 1000;
    color: black;
    width: 100%;
    height: calc(87vh - 130px);
    overflow-x: hidden;
    overflow-y: scroll;

    padding: 0 20px;
    background: rgba(253, 253, 253, 0.9);
    border: solid 4px rgb(128, 37, 37);
    border-radius: 5px;
    box-sizing: border-box;

}

.chat div {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    margin: 10px;
    border-radius: 20px;
    padding: 50px;
}



.box-name-input{
    padding: 0px 20px;
    padding-top: 20px;
    margin: 10px;
    background: rgba(209, 194, 55, 0.781) ;
    border: solid 3px gold;
    border-radius: 5px;
    box-sizing: border-box;
}

.box-message-form{
    width: 96%;
    padding: 5px 30px;
    margin: 10px auto;
    background: rgba(49, 170, 59, 0.678) ;
    border: solid 3px rgb(8, 78, 18);
    border-radius: 5px;
    box-sizing: border-box;
    height: 130px;
}


.box-message-input{
    width: 87%;
}

.name-input{
    width: 100%;
    box-sizing: border-box;
    margin: 30px 0;
    font-size: 120%;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    color: white;
    background-color: rgba(0, 128, 0, 0.2);
    border: solid 1px rgb(250, 250, 250) ;
    border-radius: 5px;

    font-size: 100%;
}

.topic-name-input{

    
    color: white;
    filter: drop-shadow(0px 0px 1px rgb(0, 0, 0));
    text-align: center;
    font-size: 150%;
}

.message-input{

    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 5px 50px;
 
    background-color: rgba(0, 128, 0, 0.2);
    font-weight: 600;
    color: white;
    border: solid 1px rgb(250, 250, 250) ;
    border-radius: 5px;
    height: 60px;
    font-size: 130%;
}

.topic-message-input{
    color: white;
    filter: drop-shadow(0px 0px 1px rgb(0, 0, 0));
    text-align: center;
    font-size: 110%;
}

@media  (max-width: 700px) {
    .flex-chat{
        display: block;
    }

    .flex-class{
        display: block;
    }

    .chat-mes-box{
        width: 90vw;
        margin: auto;
        margin-bottom: 20px;
    }

    .box-message-form{
        width: 100%;
        height: fit-content;
    }

    .box-message-input{
        width: 100%;
        padding: 0;
    }

    .chat{
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
    }

    .users-list{
        width: 80vw;
        margin: auto;
        margin-bottom: 20px;
    }

    .but-send {
        margin: auto;
    }

    .message-input{
        padding: 5px 3px;
    }
}